.title {
    text-transform: capitalize;
    color: #FFD645;
    text-shadow: 1.8px 1.8px #000000;
    font-size: 100px;
    line-height: 90px;
 
}

.main {
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: #BDE2A0;
    gap: 50px;
}