* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #BDE2A0;;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: Magilio;
  src: url(../../public/fonts/MagilioRegular-8Mxvg.otf);
}
