.main {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.title {
  text-transform: capitalize;
  color: #FFD645;
  text-shadow: 1.8px 1.8px #000000;
  font-size: 125px;
  line-height: 130px;
}

.text {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 37px;
  line-height: 45px;
  font-family: cursive;
  color: #536644;
}

.form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button {
  width: 85px;
  margin-top: auto;
  height: 45px;
  background: #A4C18B;
  color: #536644;
  font-weight: 900;
  opacity: 0.9;
  box-shadow: inset 0px 0px 12px rgb(73 83 64 / 25%);
  border: 1px solid #63ff45;
  border-radius: 12.8824px;
}